<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List all Pending Orders</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <li><a href="#" th:href="@{/dashboard/catalog/form}">Query Plants</a></li>
    <li><a href="#" th:href="@{/dashboard/allorders}">All Orders</a></li>
    <li><a href="#" th:href="@{/dashboard/pendingorders}">Pending Orders</a></li>
    <li><a href="#" th:href="@{/dashboard/cancelrequests}">Cancel Pending Orders</a></li>
    <div class="panel panel-default">
        <div class="panel-heading">List of Cancel Pending Purchase Orders</div>
        <div class="panel-body">
            <p> <span style="color:red" th:text="${error_message}"></span></p>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Plant</th>
                    <th>Rental start</th>
                    <th>Rental end</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" th:each="o : ${orders}">
                    <td>

                        <table class="table table-bordered">
                            <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${o.plant.name}"></td>
                                <td th:text="${o.plant.description}"></td>
                                <td th:text="${o.plant.price}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td th:text="${o.startDate}"></td>
                    <td th:text="${o.endDate}"></td>
                    <td th:text="${o.total}"></td>
                    <td th:text="${o.status}"></td>
                    <td >
                        <form th:action="@{'/dashboard/cancelpendingorders'}" th:object="${pod}" th:method="POST">
                            <input type="hidden" name="links[0]" id="links[0]" th:value="${o.get_id()}"></input>
                            <input type="hidden" name="status" id="status" th:value="${o.status}"></input>
                            <input type="submit" value ="Accept"></input>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{'/dashboard/cancelpendingorders'}" th:object="${pod}" th:method="DELETE">
                            <input type="hidden" name="links[0]" id="links[0]" th:value="${o.get_id()}"></input>
                            <input type="hidden" name="status" id="status" th:value="${o.status}"></input>
                            <input type="submit" value ="Reject"></input>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>